Source: libzakform
Priority: optional
Maintainer: Andrea Zagli <azagli@libero.it>
Build-Depends: debhelper (>=9), libzakutils-dev, intltool, pkg-config, gtk-doc-tools, gobject-introspection, libgirepository1.0-dev, libxml2-dev
Standards-Version: 3.9.8
Section: libs
Homepage: http://saetta.ns0.it
#Vcs-Git: git://anonscm.debian.org/collab-maint/libzakform.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/libzakform.git

Package: libzakform-dev
Section: libdevel
Architecture: any
Depends: libzakform (= ${binary:Version}), ${misc:Depends}, libzakutils-dev, libxml2-dev
Description: GObject library to manage forms - development files.
 GObject library to manage forms, based on plugins.
 .
 Development files.

Package: libzakform
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libzakutils, libxml2
Description: GObject library to manage forms.
 GObject library to manage forms, based on plugins.
